@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e4eeed;
    --foreground: #425c59;
  }

  .dark {
    /* Design focuses purely on light/mint aesthetics currently */
    --background: #e4eeed;
    --foreground: #425c59;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}